.nav {
	background:#c9c6c1;
	background-opacity: 0.5;
	border-right:1px solid #e5e5e5;
	position:absolute;
	top:0;
	bottom:0;
	height:100%;
	left:0;
	width:60px;
	overflow:hidden;
	z-index:1000;
}

.nav>ul {
	margin:7px 0;
}

.nav li {
	position:relative;
	display:block;
	width:250px;
}

.nav li>a {
	position:relative;
	display:table;
	border-collapse:collapse;
	border-spacing:0;
	color:#999;
}

.nav:hover,nav.main-menu.expanded {
	width:250px;
	overflow:visible;
}

a:hover,a:focus {
	text-decoration:none;
}
