<h1>Register</h1>
<div class="registrationForm">
  <form [formGroup]="form" (ngSubmit)="register()">
    First Name<input type="text" class="form-control" placeholder="First Name" formControlName="first_name">
    Last Name<input type="text" class="form-control" placeholder="Last Name" formControlName="last_name">
    Birthday<input type="date" class="form-control" placeholder="Birthday MM/DD/YYYY" formControlName="birthday">
    Username<input type="text" class="form-control" placeholder="Username" formControlName="username">
    Email<input type="email" class="form-control" placeholder="Email" formControlName="email">
    Password<input type="password" class="form-control" placeholder="Password" formControlName="password">
    <button type="submit" class="btn btn-success" [disabled]="!form.valid">Register</button>
  </form>
</div>

<!-- Error Handling -->
<div class="error" *ngIf="err">{{err}}</div><br>

<!-- Form Validation -->
<div class="error" *ngIf="form.get('first_name').hasError('required')">
  {{validationMessages.first_name.required}}
</div>
<div class="error" *ngIf="form.get('last_name').hasError('required')">
  {{validationMessages.last_name.required}}
</div>
<div class="error" *ngIf="form.get('birthday').hasError('required')">
  {{validationMessages.birthday.required}}
</div>


<div class="error" *ngIf="form.get('username').hasError('required')">
  {{validationMessages.username.required}}
</div>
<div class="error" *ngIf="form.get('username').hasError('minLength')">
  {{validationMessages.username.minLength}}
</div>
<div class="error" *ngIf="form.get('username').hasError('maxLength')">
  {{validationMessages.username.maxLength}}
</div>

<div class="error" *ngIf="form.get('email').hasError('required')">
  {{validationMessages.email.required}}
</div>
<div class="error" *ngIf="form.get('email').hasError('email')">
  {{validationMessages.email.email}}
</div>


<div class="error" *ngIf="form.get('password').hasError('required')">
  {{validationMessages.password.required}}
</div>
<div class="error" *ngIf="form.get('password').hasError('minLength')">
  {{validationMessages.password.minLength}}
</div>
