<div class="container">
	<div class="landingpage">
		<div class="main">
			<img src="../../assets/animage.gif" alt="Logo" class="img-circle animated pulse">
			<h1>Welcome to Soceanic!</h1>
		</div>
		<div class="buttons">
			<div>
				<button type="button" class="btn btn-primary signin" data-toggle="modal" data-target="#login-modal">LOGIN
				</button>
			</div>
			<div>
				<button type="button" class="btn btn-primary signup" data-toggle="modal" data-target="#registration-modal">REGISTRATION
				</button>
			</div>
		</div>
	</div>
</div>