.jumbotron {
  padding-right: 50px;
}

.img-circle {
	width: 450px;
    height: 450px;
    -vendor-animation-duration: 5s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
}

.landingpage {
	text-align: center;
	margin-right: 60px;
	left: 50%;
	top: 50%; 
}