<div class="teampage">
	<div>
		<h1 class="title">Soceanic Team Members</h1>
	</div>
	<div class="members">
		<div class="member1">
			<span>
				<img src="../../assets/animage.gif" alt="Member1" class="img-circle">
			</span>
			<div class="member1-bioinfo">
				<h1 class="member1-heading">Member Name</h1>
				<h3>Member Bio</h3>
			</div>
		</div>
		<div class="member2">
			<span>
				<img src="../../assets/animage.gif" alt="Member2" class="img-circle">
			</span>
			<div class="member2-bioinfo">
				<h1>Member Name</h1>
				<h3>Member Bio</h3>
			</div>
		</div>
		<div class="member3">
			<span>
				<img src="../../assets/animage.gif" alt="Member3" class="img-circle">
			</span>
			<div class="member3-bioinfo">
				<h1>Member Name</h1>
				<h3>Member Bio</h3>
			</div>
		</div>
		<div class="member4">
			<span>
				<img src="../../assets/animage.gif" alt="Member4" class="img-circle">
			</span>
			<div class="member4-bioinfo">
				<h1>Member Name</h1>
				<h3>Member Bio</h3>
			</div>
		</div>
		<div class="member5">
			<span>
				<img src="../../assets/animage.gif" alt="Member5" class="img-circle">
			</span>
			<div class="member5-bioinfo">
				<h1>Member Name</h1>
				<h3>Member Bio</h3>
			</div>
		</div>
	</div>
</div>
